
@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://cdn.pixabay.com/photo/2024/05/18/15/30/laptop-8770486_640.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;

}
.nav_box{
    position: relative;
}
.nav_box .nav_name{
    display: none;
    position: absolute;
    top: 100%; 
    left: 50%;  
    transform: translateX(-50%); 
    
}
.nav_box:hover .nav_name {
    display: inline-block;
  }